@import "tailwindcss";

/* @custom-variant  dark (&:where(.dark, .dark *)); */

html, body {
    background-color: #0f141e;
}

/* @layer base {
    
} */

@layer components {
    .card {
        @apply flex-box items-center max-w-sm p-6 gap-x-4 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10;

        h3 {
        @apply text-xl font-medium text-white
        }
        p {
            @apply text-gray-500 dark:text-gray-400;
        }
    }

    .profile-card {
        @apply flex-box items-center max-w-sm flex-col p-8 gap-2 sm:flex-row sm:items-center sm:gap-6 sm:py-4 shadow-lg outline outline-black/5 bg-white;

        img {
            @apply h-24 mx-auto block rounded-full sm:mx-0 sm:shrink-0
        }

        .profile-info {
            @apply space-y-2 text-center sm:text-left
        }

        .profile-info > div {
            @apply space-y-0.5
        }

        h3 {
            @apply text-lg font-semibold text-black
        }
        p {
            @apply text-gray-500 font-medium;
        }

        button {
            @apply border border-purple-200 font-semibold rounded-full px-6 py-1 text-purple-600 hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700;
        }
    }

    .user {
        @apply flex-box flex-col max-w-lg mx-auto bg-white p-8 space-y-3;

        .user-info {
            @apply flex items-center text-base space-x-4 ;s

            h3 {
                @apply text-lg font-semibold text-black
            }

            span {
                @apply text-black font-medium bg-gray-200 text-xs rounded-full px-3 py-1;
            }

        }

        .user-images {
            @apply flex -space-x-2 overflow-hidden;
        }

        .user-footer {
            @apply text-sm font-medium;

            a {
                @apply text-blue-500;
            }
        }
        
    }

    .group-card {
        @apply mx-auto block mt-10 max-w-sm space-y-3 rounded-lg bg-white p-4 shadow-lg ring-1 ring-gray-900/5 hover:bg-sky-500 hover:ring-sky-500 dark:bg-white/5 dark:ring-white/10;

        div {
            @apply flex items-center space-x-3;

            svg {
                @apply h-6 w-6 stroke-sky-500 ;
            }

            h3 {
                @apply text-white font-semibold text-sm;
            }
        }

        p {
            @apply w-full text-gray-500 ;
        }
    }


}

@utility flex-box {
    @apply mx-auto flex rounded-xl  mt-10;
}

@utility user-list {
    @apply h-12 rounded-full ring-2 ring-white inline-block
}

