@import "tailwindcss";

/* @custom-variant  dark (&:where(.dark, .dark *)); */

html, body {
    background-color: #0f141e;
}

@layer components {
    .card {
        @apply mx-auto flex items-center max-w-sm p-6 rounded-xl gap-x-4 mt-10 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10;
    }
    .card-content > h3 {
        @apply text-xl font-medium text-black dark:text-white
    }

    .card-content > p {
        @apply text-gray-500 dark:text-gray-400
    }
}

