@import "tailwindcss";

/* @custom-variant  dark (&:where(.dark, .dark *)); */

html, body {
    background-color: #0f141e;
}

/* @layer base {
    
} */

@layer components {
    .card {
        @apply flex-box p-6 gap-x-4 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10;

        h3 {
        @apply text-xl font-medium text-white
        }
        p {
            @apply text-gray-500 dark:text-gray-400;
        }
    }

    .profile-card {
        @apply flex-box flex-col p-8 gap-2 sm:flex-row sm:items-center sm:gap-6 sm:py-4 shadow-lg outline outline-black/5 bg-white;

        img {
            @apply h-24 mx-auto block rounded-full sm:mx-0 sm:shrink-0
        }

        .profile-info {
            @apply space-y-2 text-center sm:text-left
        }

        .profile-info > div {
            @apply space-y-0.5
        }

        h3 {
            @apply text-lg font-semibold text-black
        }
        p {
            @apply text-gray-500 font-medium;
        }

        button {
            @apply border border-purple-200 font-semibold rounded-full px-6 py-1 text-purple-600 hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700;
        }
    }
}

@utility flex-box {
    @apply mx-auto flex items-center max-w-sm  rounded-xl  mt-10;
}
